.cart-item-container {
  margin-bottom: 30px;

}


.cart-item-container h4 {
  font-size: 2rem;
  color:rgb(53, 13, 231);

}

.cart-item-container h5 {
  font-size: 1.5rem;
  color: rgb(239, 17, 47);
  margin-bottom: 10px;
}

.cart-item-container button {
  width: 80px;
  height: 30px;
}

.cart-item-container input {
  width: 200px;
  height: 30px;
  border-radius: 20px;
}

.order-input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}