* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  border: none;
}

body {
  background-color: rgba(0, 106, 255, 1);

}

.App {
  text-align: center;
  display: flex;
  margin-top: 200px;
}

.order-container {
  display:flex;
  width: 100%;

}

.flavor-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flavor-container input {
  width: 420px;
  height: 80px;
  border-radius: 20px;
  border: none; 
  margin-bottom: 20px;
  font-size: 2rem;
}

.flavor-container button {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.flavor-button-container {
  display:flex;
  width: 420px;
  justify-content: space-between;
}

.cart-container {
  width: 500px;
  display:flex;
  flex-direction: column;
  background-color:rgb(241, 162, 93)
}

.cart-container button {
  border-radius: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: calc(100vh - 200px);
  background-color: #f67301;
}

img {
  height: 30%;
  border-radius: 20px;
}

button:hover {
  color:rgb(235, 8, 166);
  background-color: chartreuse;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

